# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/

# Database (يفضل عدم رفعه والاعتماد على الـ Seeder)
*.sqlite3

# Static collected
staticfiles/